@font-face {
    font-family: "font-gg";
    src: url("static/AlexBrush-Regular.ttf") format('truetype');
}
*{
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-register{
  height: 800px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  
}


.content{
  height: 100%;
  width: 100%;
  display: flex;
  background: linear-gradient(100deg, rgba(253, 253, 253,0.5) 47%, rgba(18, 1, 255,1) 120%);
  align-items: center;
  padding: 50px 50px;
  justify-content: center;
  box-sizing: border-box;
}

 .form-register{
  box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
  height: 80%;
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
  background: linear-gradient(100deg, rgba(253, 253, 253,0.5) 5%, rgba(18, 1, 255,1) 120%);
  box-sizing: border-box;
  margin:1em
}
.regist-input {
  width:400px;
  height: 50px;
  padding: 0 40px;
  border: none;
  border-radius: 50px;
  margin: 0em 1em 1em 1em;
}
.inputgrup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  padding: 0;
}
.righinput{
  padding: 0 10px;
  margin: 1.3em;
}
.form-register select{
  width:300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin: 1em 1em 1em 1em;  
}

.btn-register {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(100deg, rgba(116, 116, 119, 0.397) 49%, rgba(5, 1, 255,1) 120%);
  text-align: center;
} 

.btn-register-disabled {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(80deg, rgb(254, 254, 255) 49%, rgb(35, 42, 43) 120%);
  text-align: center;

} 
.btn-register-disabled:hover{
  cursor: not-allowed; 
  
}
.form-register h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  word-spacing:5px; 
}
.logo-par{
  height:70px;
  width: 30%;
  margin: 10px 10px 10px 4px;
}
.berhasil {
  font-family: 'Times New Roman', Times, serif;
  color: blue;
}


@media screen and (max-width: 598px) {
  .form-register{
    height: 80%;
    width: 75%;
    padding: 60px 60px;
  }
  .logo-par{
    height:40px;
    width: 20%;
    margin: 10px 10px 10px 4px;
  }
  .regist-input {
    width:300px;
    height: 50px;
  }
  .form-register h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    word-spacing:5px; 
  }
}

/* Login */

#container-login{
  height: 800px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}


.content-login{
  height: 100%;
  width: 100%;
  display: flex;
  background: linear-gradient(100deg, rgba(253, 253, 253,0.5) 47%, rgba(18, 1, 255,1) 120%);
  align-items: center;
  padding: 70px 70px;
  justify-content: center;
  box-sizing: border-box;

}

 .form-login{
  box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
  height: 80%;
  width: 34%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 60px 60px;
  background: linear-gradient(100deg, rgba(253, 253, 253,0.5) 5%, rgba(18, 1, 255,1) 120%);
  box-sizing: border-box;
  margin:1em 2em 
}
.login-input {
  width:400px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin: 1em 1em 1em 1em;
}

.btn-Login {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(100deg, rgba(116, 116, 119, 0.397) 49%, rgba(5, 1, 255,1) 120%);
  text-align: center;
} 

.form-login h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  word-spacing:5px; 
}
.prima-logo{
  height:50px;
  width: 40%;
  margin: 10px 10px 10px 4px;
  animation: animasigambar 20s ease-in 4s  infinite  alternate-reverse  ;
}

@keyframes animasigambar{
  0% {
      transform: rotateY(90deg)

      
  }

 50% {
      transform: rotateX(720deg)  rotateY(360deg)   
   
  }
 
}
.nav-app{
  height: 250px;
  width: 100%;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.7) 49%, rgba(5, 1, 255,0.79) 120%);
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px 20px;
  flex-wrap: wrap;

}
.nav-top{
  height: 30%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}

.ul-top{
  height: 55%;
  width: 100%;
  list-style: none;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  font-weight: bold;
  flex-wrap: wrap;
  margin: 1em 1em 1em 1em;
}

.menu{
  height: 40px;
  width: 100px;
  display: flex; 
}
.menu1{
  height: 100%;
  display: flex;
  padding: 0 10px;
 
}
.logo-sidebar{
  height:40px;
  width:100px;

}
.nav-bot{
  height: 30%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}

.ul-bot{
  height: 55%;
  width: 100%;
  list-style: none;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
  font-weight: bold;
  flex-wrap: wrap;
  margin: 1em 1em 1em 1em;
  
}
.menus{
  height: 100px;
  width: 120px;
  display: flex; 
}
.menus-disabled{
  display: none;
}
.menu2{
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
.menu2 a{
  height: 100%;
  width: 100%;
  display: flex;

}
.menu2 span{
  font-size: 10px;
}


.nav-app ul li:hover{
  cursor: pointer;
 color: red;
 }
 .link{
  text-decoration: none; 
  color: black;
 }


/* dashboard content */
.container-dashboard{
  height: 800px;
  width: 100%;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0.8) 49%, rgba(5, 1, 255,1) 120%);
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px;
  
}

.container-colousel{
  height: 55%;
  width: 100%;
  display: flex;
  padding: 40px 40px;
  
}



.container-count{
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 40px;
  align-items: center;

}
.content-proses{
  padding: 40px 40px;
  display: flex;
  justify-content: space-between ;
  height: 50%;
  width:15%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
  border-radius: 20px;
}
.content-proses p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  word-spacing:5px; 
  font-weight: bold;

}

.content-proses span {
  font-size: 20px;
}
.lolos{
  color: green;
  font-weight: bold;
}
.tidak-lolos{
  color: red;
  font-weight: bold;
}

.container-count .content-proses:hover{
  position: relative;
  cursor: pointer;  
  transform: translate(0%, 5%) scale(1);
  box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
  background: linear-gradient(100deg, rgba(253, 253, 253,0) 47%, rgba(18, 1, 255,1) 120%);
} 
/* department */

.container-content{
  height: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(100deg, rgba(253, 253, 253,0) 47%, rgba(18, 1, 255,1) 120%);
  box-sizing: border-box;
}

.container-department{
  height: 45%;
  width: 100%;
  display: flex;
  flex-wrap:wrap ;
 
}

.content-head{
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.btn-add{
  padding: 20px;
  height: 40px;
  width: 40px;
  margin: 0 0 0 1em;
}

.content-head input{
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xNS44NTMgMTYuNTZjLTEuNjgzIDEuNTE3LTMuOTExIDIuNDQtNi4zNTMgMi40NC01LjI0MyAwLTkuNS00LjI1Ny05LjUtOS41czQuMjU3LTkuNSA5LjUtOS41IDkuNSA0LjI1NyA5LjUgOS41YzAgMi40NDItLjkyMyA0LjY3LTIuNDQgNi4zNTNsNy40NCA3LjQ0LS43MDcuNzA3LTcuNDQtNy40NHptLTYuMzUzLTE1LjU2YzQuNjkxIDAgOC41IDMuODA5IDguNSA4LjVzLTMuODA5IDguNS04LjUgOC41LTguNS0zLjgwOS04LjUtOC41IDMuODA5LTguNSA4LjUtOC41eiIvPjwvc3ZnPg==");
  background-color: var(--bg-offset);
  background-size: 16px 16px;
  background-position: left 10px center;
  background-repeat: no-repeat;
  padding: 1.4em 2em;
  padding-left: 2.7em;
  border: 1px solid var(--border);
  color: var(--gray);
  box-shadow: 0px 4px 6px var(--border);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 1px;
  width: 300px;
  margin: 0 1em;
  &:hover {
      box-shadow: 0px 0px 0px var(--border);
  
  }
}


.content-department{
  height: 70%;
  width: 100%;
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  flex-direction: column;
  

}

.dashboard-list-table-header{

  background: #000;
  color: #fff;
 
}
.dashboard-list-table-header th{
  padding:5px 10px;
  font-size: 15px;
  word-spacing:5px; 
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;

}
.dashboard-list-table-body{
 
  border-bottom: 1px solid #e0e0e0;
  background: white;
  color: #0a0a0a;
 
}

.dashboard-list-table-body td{
  padding:10px 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  word-spacing:5px; 
  font-weight: bold;
}


/* detail proses */
.container-detail{
  height: 800px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(100deg, rgba(253, 253, 253,0) 47%, rgba(18, 1, 255,1) 120%);
  padding: 50px 30px;
}
.head-detail{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.detail-content{
  height: 80%;
  width: 100%;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  flex-direction: column;
}

.detail-list-table-header{
  padding: 20px 20px;
  background: #000;
  color: #fff;
  text-align: center;
 
}
.detail-list-table-header th{
  padding: 4px 5px;
 
}
.detail-list-table-body{
  padding: 20px 20px;
  border-bottom: 1px solid #e0e0e0;
  background: white;
  color: #0a0a0a;
  text-align: center;
 
}
/* Pengajuan */


.container-pengajuan{
  height: 800px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(100deg, rgba(253, 253, 253,0) 47%, rgba(18, 1, 255,1) 120%);
  padding: 30px 20px;
}

.content-head-pengajuan{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.content-pengajuan{
  height: 90%;
  width: 100%;
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  flex-direction: column;
}
.pengajuan-list-table-header th{
  padding: 3px 2px;
 
}
.pengajuan-list-table-header{
  background: #000;
  color: #fff;
  text-align: center;
 
}

.pengajuan-list-table-body td{
  padding: 2px 0;
 
}
.pengajuan-list-table-body{
  border-bottom: 1px solid #e0e0e0;
  background: white;
  color: #0a0a0a;
  text-align: center;
 
}

/* kandidat */
.container-kandidat{
  height:1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(100deg, rgba(253, 253, 253,0) 47%, rgba(18, 1, 255,1) 120%);
  padding: 60px 50px;
  justify-content: space-around;
  align-items: center;
}
.head-kandidat{
  height: 7%;
  width: 100%;
}

.head-kandidat h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  word-spacing:5px; 
  font-weight: bold;
  color: blue;
}
.content-kandidat{
  height:89%;
  width: 100%;
  padding:30px 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.input-kandidat{
  width:300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(100deg, rgba(253, 253, 253,1) 47%, rgba(18, 1, 255,1) 120%);
  box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
  margin: 1em 1em 1em 0em; 
  padding: 0 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  word-spacing:5px; 
  font-weight: bold;

}
.textarea{
  height:100px;
  width: 300px;
  margin: 1em 1em 1em 0em; 
}
.content-kandidat select{
  width:300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin: 1em 1em 1em 0em; 
  background: linear-gradient(180deg,rgba(18, 1, 255,0.5) 47%, rgba(253, 253, 253,1) 120% );
  padding: 0 20px; 
  box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
}
.submit-kandidat{
  height: 50px;
  width: 400px;
  align-items: center ;
  font-family: 'Times New Roman', Times, serif;
  word-spacing:5px; 
  font-weight: bold;
  margin: 0 20em;
}

/* #detail-kandidat::-webkit-file-upload-button{
  visibility: hidden;
} */

/* pengjauan */
.scroll-modal{
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-around;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: scroll;
  padding: 40px 20px;
}
.form-input{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 20px;

}
.form-input select{
  width:200px;
  height: 30px;
  border: none;
  border-radius: 50px;
  margin: 2em 1em 1em 0em;
  padding: 0 20px;
  box-shadow: 1px 1px 2px 2px rgb(12, 12, 12);
}
.date-input{
  width:200px;
  height: 30px;
  border: none;
  border-radius: 50px;
  margin: 1em 1em 1em 0em;
  padding: 0 20px;
  box-shadow: 1px 1px 2px 2px rgb(12, 12, 12);
}

.input-pengajuan {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 50px;
  margin: 1em 0.5em 1em 0em;
  padding: 0 20px;
  box-shadow: 1px 1px 2px 2px rgb(12, 12, 12);
}
.modal-ccl{
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 0.3em 0.5em 1em 0em;
}

.modal-submit{
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 0.3em 0.5em 1em 0em;
}
.pesan {
  display: flex;
}
.pesan-disabled{
  display: none;
}
.success{
  color: green;
  font-size: 14px;
  transition: 1s;
}
.error{
  color: red;
}

/* forget */
.container-forget{
  height: 800px;
  width: 100%;
 display: flex;
}

.content-forget{
  height: 100%;
  width: 100%;
  display: flex;
  background: linear-gradient(100deg, rgba(253, 253, 253,0.5) 47%, rgba(18, 1, 255,1) 120%);
  align-items: center;
  padding: 50px 50px;
  justify-content: center;
  box-sizing: border-box;
 
}

.input-nip{
  width:300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(100deg, rgba(253, 253, 253,1) 47%, rgba(18, 1, 255,1) 120%);
  box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
  margin: 1em 1em 1em 0em; 
  padding: 0 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  word-spacing:5px; 
  font-weight: bold;
}

.form-forget{
  box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
  height: 70%;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
  box-sizing: border-box;
  margin:1em
}
/* soalinterview */

.container-soal{
  height: 800px;
  width: 100%;
  background: linear-gradient(100deg, rgba(253, 253, 253,1) 47%, rgba(18, 1, 255,1) 120%);
  display: flex;
  box-sizing: border-box;
}
.content-soal{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap
}
.content-table{
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


/* interview kandidat */
.container-interviewkandidat{
  height: 900px;
  width: 100%;
  background: linear-gradient(100deg, rgba(253, 253, 253,1) 47%, rgba(18, 1, 255,1) 120%);
  display: flex;
  box-sizing: border-box;
}
.content-interviewkandidat{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  box-sizing: border-box;

}

.form-interviewkandidat{
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
.head-interviewkandidat{
  display: flex;
  height: 28%;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0 40px ;
  box-sizing: border-box;
}
.body-interviewkandidat{
  display: flex;
  height: 35%;
  width: 100%;
  flex-wrap: wrap;
  /* background-color: blue; */
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 40px ;
  box-sizing: border-box;
}
.interviewkandidat-list-table-header{
  border-bottom: 1px solid #e0e0e0;
  background: #000;
  color: #fff;
  text-align: center;

}
.interviewkandidat-list-table-header th{
  padding:0 20px;
}
.interviewkandidat-list-table-body{
  border-bottom: 1px solid #e0e0e0;
  background: white;
  color: #0a0a0a;
  text-align: center;
}

.input-interviewkandidat{
  width:300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(100deg, rgba(253, 253, 253,1) 47%, rgba(18, 1, 255,1) 120%);
  box-shadow: 1px 1px 4px 4px rgb(12, 12, 12);
  margin: 1em 1em 1em 0em; 
  padding: 0 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  word-spacing:5px; 
  font-weight: bold;
}
.tanggal-input{
  width:300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin: 1em 1em 1em 0em;
  padding: 0 20px;
  box-shadow: 1px 1px 2px 2px rgb(12, 12, 12);
}
.submit-interviewkandidat{
  height: 50px;
  width: 200px;
}

.toas-success{
  background-color: black;
  color: green;
  font-weight: 20px;
}
.toas-fail{
  background-color: red;
  color: white;
  font-weight: 20px;
}